<a href="#" class="list-group-item list-group-item-action decree">
  <p class="mb-1 publication-date">
    <time datetime="{{@decree.date.value}}">{{@decree.date.value}}</time>
  </p>
  <p class="mb-1 title">{{@decree.title.value}}</p>
</a>
